:root {
  --headingsFont: "Unbounded", sans-serif;
  --bodyFont: "Azeret Mono", monospace;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1 {
  font-family: var(--headingsFont);
  font-weight: 800;
  font-size: 5rem;
}

h3 {
  font-family: var(--headingsFont);
  font-weight: 500;
  font-size: 2rem;
}

body {
  font-family: var(--bodyFont);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
      to bottom,
      rgba(2, 0, 36, 0.9668242296918768) 54%,
      rgba(9, 9, 121, 0.9556197478991597) 100%,
      rgba(0, 212, 255, 0) 100%
    )
    fixed no-repeat;
  color: #ffffff;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.div-songs-table {
  width: 100%;
  display: grid;
  align-items: center;
}

.songs-table {
  border-collapse: collapse;
}

.song-row {
  align-items: center;
  justify-items: left;
}

.song-row:hover {
  background-color: #211C84;
}

.header-table {
  font-weight: 300;
  align-items: center;
}

.table-album-cover {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.button-favorites {
  border: none;
  border-radius: 20px;
  background-color: #16c47f;
  color: #ffffff;
  cursor: pointer;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.card {
  border-radius: 5px;
  padding: 10px;
  line-height: 0.5;
}

.card:hover {
  background-color: #211C84;
}

.card-album-cover {
  width: 158px;
  height: 158px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #ffffff;
}

.card-content {
  font-size: 1.5rem;
  font-weight: 300;
}

.card-details {
  font-size: 1.2rem;
  font-weight: 200;
}
