html {
     box-sizing: border-box;
     font-size: 62.5%; /* 1REM = 10px */
 }
 *, *:before, *:after {
     box-sizing: inherit;
 }

 body {
     font-family: 'Raleway', sans-serif;
     font-size: 1.6rem;
     line-height: 2;
 }

 .cards {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
     grid-gap: 20px;
 }